<div id="<%= dom_id user %>" class="card mb-3">
  <div class="card-body">
    <p class="card-text">
      <strong>Nome:</strong>
      <%= user.name %>
    </p>

    <p class="card-text">
      <strong>Usuário:</strong>
      <%= user.username %>
    </p>
  </div>
</div>