<div class="container mt-5" data-controller="posts-import">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center text-primary mb-4">Importar Posts</h1>
      <div class="card shadow-sm">
        <div class="card-body">

          <div class="mb-4 text-center">
            <p>Baixe o template de importação para garantir que o formato do arquivo esteja correto:</p>
            <a href="/templates/posts_import.txt" class="btn btn-outline-secondary" download>
              Baixar Template de Importação
            </a>
          </div>

          <form action="/jobs" method="post" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="file_txt" class="form-label">Escolha o arquivo txt:</label>
              <input type="file" id="file_txt" name="file_txt" accept=".txt" class="form-control" data-posts-import-target="file" required>
              <input type="hidden" name="parentable_type" value="ImportPostsJob">
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary btn-lg" id="submitBtn" data-bs-toggle="modal" data-bs-target="#exampleModal" data-posts-import-target="submitButton" disabled>
                Importar
              </button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Processamento em background</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="job-modal">
          <div class="modal-body">
            <div class="d-flex justify-content-center">
              <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
