<div class="mb-4">
  <h1 class="display-5 text-center text-primary">Criando novo post</h1>
</div>

<%= render "form", post: @post %>

<div class="container mt-2">
  <div>
    <%= link_to "Voltar para Posts", posts_path, class: "btn btn-secondary" %>
  </div>
</div>
