<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container-fluid">
    <!-- Logo or Greeting -->
    <a class="navbar-brand" href="/">
      <% if @current_user %>
        Olá, <strong><%= @current_user.name %></strong>
      <% else %>
        BlogApp
      <% end %>
    </a>

    <button 
      class="navbar-toggler" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarNav" 
      aria-controls="navbarNav" 
      aria-expanded="false" 
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center">
        <% if @current_user %>
          <li class="nav-item">
            <%= link_to "Logout", logout_path, method: :get, class: "btn btn-outline-danger ms-2" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", login_path, method: :get, class: "btn btn-outline-success ms-2" %>
          </li>
        <% end %>
        <li class="nav-item">
          <a class="nav-link" href="/posts">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users">Usuários</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
